.valenciacomputers2 {
    position: relative;
    left: 850px;
}

.enlaces2 {
    text-align: center;
    background-color: lightskyblue;

}

.fondogeneral2 {
    background-color: lightgoldenrodyellow;

}

.servicios {
    color: blue;
    background-color: lightgreen;
}

.final2 {
    text-align: center;

}